services:
  app:
    build:
      context: .
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./files/media:/files/media
      - ./files/static:/files/static
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_healthy
    restart: always

  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - my_db:/var/lib/postgresql/data/pgdata

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  celery_worker:
    build: .
    command: sh -c "celery -A config worker -l info"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    restart: always

volumes:
  my_db:
